{% extends "party/party.html" %}
{% block char %}
  <h2>Hahmon {{character.name}} tiedot</h2>
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <div class="container">
    <table class="table table-striped table-bordered">
      <tr>
        <td><strong>Taso: </strong></td>
        <td><strong>Kokemuspisteet: </strong></td>
        <td><strong>Kulta:</strong></td>
        <td><strong>Ominaisuudet: </strong>lista?</td>
        <td><strong>tavarat:</strong>toinen lista?</td>
      </tr>
      <tr>
        <td>{{character.lvl}}</td>
        <td>{{character.exp}}</td>
        <td>{{character.gold}}</td>
        <td>
          <ul>
             {% for attr in attrs %}
             <li>{item.name}</li>
             {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
             {% for item in items %}
             <li>{item.name}</li>
             {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <p>
      hahmon tarina?
  </p>
{% endblock %}
