{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}
<h1>{{character.name}}</h1>

<form method="post" action="edit">
  <div class="form-group">
    <label>Hahmon nimi: </label>
    <input class="form-control" name="name" value="{{character.name}}">
  </div>
  <div class= "form-group">
  	<label>taso: </label>
  	<input class="form-group" size="2" type="number" name="level" value={{character.lvl}}>
  </div>
    <div class= "form-group">
    <label>exp: </label>
    <input class="form-group" size="2" type="number" name="exp" value={{character.exp}}>
  </div>
    <div class= "form-group">
    <label>kulta: </label>
    <input size="2" type="number" name="gold" value={{character.gold}}>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Muokkaa</button>
  </form>
</div>

{% endblock %}