{% extends "base.html" %}
{% block content %}
  <h1>Lisää uusi hahmo ryhmään {{party.name}}</h1>

  <form method="post" action="{{base_path}}/campaign/{{party.kampanja.id}}/{{party.id}}">
    <div class="form-group">
      <label>Nimi</label>
      <input name="name" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Pelaajan nimi</label>
      <input name="pname" class="form-control" type="text">
    </div>

    <div class="form-group">
      <select name="class">
        {% for class in classes %}
          <option value={{class.id}}>{{class.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Luo uusi hahmo</button>
    </div>

  </form>
{% endblock %}