{% extends "party.html" %}
{% block char %}
  <h1>Hahmon tiedot</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <div class="container">
    <ul>
      <li><strong>Pelaajan nimi: </strong>pertti pelaaja</li>
      <li><strong>Hahmon nimi: </strong>Rotanraato</li>
      <li><strong>Hahmoluokka: </strong>Mindthief</li>
      <li><strong>Tavaralista: </strong>tavarat?</li>
      <li><strong>Kokemuspisteet: </strong>5</li>
      <li><strong>Taso: </strong>3</li>
      <li><strong>Ominaisuudet: </strong>lista?</li>
      <li><strong>Kulta:</strong>30 kolikkoa</li>

    </ul>
  </div>
  <!-- Tarina -->
  <p>
      hahmon tarina?
  </p>
{% endblock %}