{% extends "base.html" %}
{% block content %}
  <h2>{{party.name}}</h2>

  Muokataanko täällä ryhmän kokoonpanoa ja muita tietoja?

  <h4>Ryhmän perustiedot</h4>
  <ul>
    <li>Saavutukset: puuttuu vielä</li>
    <li>Maine: puuttuu myöskin</li>
  </ul>
  <p>Ryhmän kokoonpano</p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Hahmo</th>
        <th>Hahmoluokka</th>
        <th>Pelaaja</th>
      </tr>
    </thead>
    <tbody>
      <!-- Listataan hahmot tähän -->
      {% for character in characters %}
      <tr>
        <td>{{character.name}}</td>
        <td>{{character.luokka.name}}</td>
        <td>{{character.pname}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    <!--Yksittäisen hahmon tiedot seuraavaksi-->
    <div class="content">
      {% block char %}{% endblock %}
    </div>

{% endblock %}
