{% extends "campaign/campaign.html" %}
{% block party %}
  <h2>{{party.name}}</h2>

  <p>
    <a href="{{base_path}}/campaign/{{party.kampanja.id}}/{{party.id}}/new" class="btn btn-success">Lisää hahmo</a>
    <a href="{{base_path}}/campaign/{{party.kampanja.id}}/{{party.id}}/edit" class="btn btn-default">Muokkaa ryhmän tietoja</a>
    {{forms.destroy_button("#{base_path}/campaign/#{party.kampanja.id}/#{party.id}/destroy", "Poista ryhmä")}}
  </p>

  <h4>Ryhmän perustiedot</h4>
  <ul>
    <li>Saavutukset: puuttuu vielä</li>
    <li>Maine: puuttuu myöskin</li>
  </ul>
  <p>Ryhmän kokoonpano</p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Hahmo</th>
        <th>Hahmoluokka</th>
        <th>Pelaaja</th>
      </tr>
    </thead>
    <tbody>
      <!-- Listataan hahmot tähän -->
      {% for character in characters %}
      <tr>
        <td><a href="{{base_path}}/campaign/{{character.party.kampanja.id}}/{{character.party.id}}/{{character.id}}">{{character.name}}</td>
        <td>{{character.luokka.name}}</td>
        <td>{{character.pname}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    <!--Yksittäisen hahmon tiedot seuraavaksi-->
    <div class="content">
      {% block char %}{% endblock %}
    </div>

{% endblock %}
