{% extends "campaign/campaign.html" %}
{% block party %}
  <h2>{{party.name}}</h2>

  <p>Ryhmän perustiedot</p>
  <ul>
    <li>Saavutukset: puuttuu vielä</li>
    <li>Maine: puuttuu myöskin</li>
  </ul>
  <p>Ryhmän kokoonpano</p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Hahmo</th>
        <th>Hahmoluokka</th>
        <th>Pelaaja</th>
      </tr>
    </thead>
    <tbody>
      <!-- Listataan hahmot tähän -->
      {% for character in characters %}
      <tr>
        <td><a href="{{base_path}}/campaign/{{character.party.kampanja_id}}/{{character.party.id}}/{{character.id}}">{{character.name}}</td>
        <td>{{character.luokka}}</td>
        <td>{{character.pname}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    <!--Yksittäisen hahmon tiedot seuraavaksi-->
    <div class="content">
      {% block char %}{% endblock %}
    </div>

{% endblock %}
