<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        Gloomhavenin kampanjanseurantatyökalu
      {% endblock %}
    </title>

    {% block head %}
      <!-- Bootstrap (tyylitiedosto) -->
      <link href="{{base_path}}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Oma tyylitiedostomme -->
      <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    <!-- ... -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Sovelluksen nimi -->
        <a class="navbar-brand" href="{{base_path}}">Kampanjaträkkeri</a>
      </div>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <!-- Navigaation linkit -->
          {% if user_logged_in %}
            <li><a href="{{base_path}}/campaign">Kampanjat</a></li>
          {% endif %}
        </ul>
        {% block kirjautunut %}
        <ul class="nav navbar-nav navbar-right">
          {% if user_logged_in %}
            <li><a href="{{base_path}}/user">{{user_logged_in.name}}</a></li>
            <li><a href="{{base_path}}/exit">Kirjaudu ulos</a></li>
          {% else %}
            <li><a href="{{base_path}}/uusi">Luo uusi käyttäjätunnus</a></li>
            <li><a href="{{base_path}}/kirjautuminen">Kirjaudu sisään</a></li>

          {% endif %}
          
        </ul>
        {% endblock %}
      </div>
    </div>
  </nav>
<!-- ... -->

    <div id="main-container">
      <!-- Dynaaminen sisältö tulee tähän -->
      {% block content %}{% endblock %}

      {% if message %}
        <div class="alert alert-success">
          {{message}}
        </div>
      {% endif %}

      {% if error %}
        <div class="alert alert-danger">
          {{error}}
        </div>
      {% endif %}
    </div>

    {% block body %}
      <!-- jQuery -->
      <script src="{{base_path}}/assets/js/jquery.min.js"></script>

      <!-- Bootstrap (skriptitiedosto) -->
      <script src="{{base_path}}/assets/bootstrap/js/bootstrap.min.js"></script>

      <!-- Oma skriptitiedostomme -->
      <script src="{{base_path}}/assets/js/site.js"></script>
    {% endblock %}
  </body>
</html>
