{% extends "base.html" %}
{% block content %}
  <h1>Kirjaudu sisään</h1>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form>
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" type="text">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>
{% endblock %}