{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}
  <h1>{{campaign.name}}</h1>
  <p>
    <a href="{{base_path}}/campaign/{{campaign.id}}/edit" class="btn btn-default">Muokkaa kampanjan tietoja</a>
  </p>
  <table>
    <tr>
      <td><h2>Perustiedot</h2></td>
      {% if parties %}
      <td><h2>Ryhmät</h2></td>
      {% endif %}
    </tr>
    <tr>
      <td>
        <ul>
          <li><strong>Omistaja: </strong>{{user_logged_in.name}}</li>
          <li><strong>Saavutukset: </strong>attribuutti vielä puuttuu</li>
          <li><strong>Gloomhavenin varallisuustaso: </strong>{{campaign.prosperity}}</li>
        </ul>
      </td>
      {% if parties %}
      <td>
        <ul>
          {% for party in parties %}
            <li><a href="{{base_path}}/campaign/{{party.kampanja.id}}/{{party.id}}">{{party.name}}</a>
          {% endfor %}
        </ul>
      </td>
      {% endif %}
    </tr>
  </table>



  <div class="content">
    {% block party %}{% endblock %}
  </div>

{% endblock %}
