{% import "macros/forms.html" as forms %}
{% extends "base.html" %}
{% block content %}
<h1>{{campaign.name}}</h1>

<form method="post" action="edit">
  <div class="form-group">
    <label>Kampanjan nimi</label>
    <input class="form-control" name="name" value="{{campaign.name}}">
  </div>
  <div class= "form-group">
  	<label>Gloomhavenin varallisuustaso</label>
  	<input class="form-group" type="number" name="prosperity" value={{campaign.prosperity}}>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Muokkaa</button>
  </form>
</div>

<a href="{{base_path}}/campaign/{{campaign.id}}/new" class="btn btn-success">Lisää ryhmä</a>
<br>
<select form_id="R_poisto">
	{% if parties %}
	  {% for party in parties %}
	    <option value={{party.id}}>{{party.name}}</option>
	  {% endfor %}
	{% endif %}
</select>
{{forms.destroy_button("#{base_path}/campaign/#{party.kampanja.id}/#{party.id}/destroy", "Poista ryhmä", "R_poisto")}}
<br>
{{forms.destroy_button("#{base_path}/campaign/#{campaign.id}/destroy", "Poista kampanja", "K_poisto")}}

{% endblock %}